# Xcode user-specific data
xcuserdata/
*.xcuserstate
*.xcuserdatad/
project.xcworkspace/xcuserdata/

# Build artifacts
build/
DerivedData/
*.xcarchive
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods (если когда-нибудь добавите)
Pods/

# Fastlane (если когда-нибудь добавите)
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Signing
*.p12
*.cer
*.mobileprovision
*.provisionprofile
AuthKey_*.p8
ExportOptions.plist

# macOS
.DS_Store
