# Скопируйте этот файл в keystore.properties и заполните реальными значениями
# keystore.properties не должен попадать в git
storeFile=../keystore/calk-kg-release.keystore
storePassword=YOUR_STORE_PASSWORD_HERE
keyAlias=calk-kg
keyPassword=YOUR_KEY_PASSWORD_HERE
